.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  height: 6.5em;
}
@media screen and (max-width: 768.98px) {
  .header {
    height: 60px;
  }
}

.header.scroll {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768.98px) {
  .header__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
  gap: 10px;
}
@media screen and (max-width: 768.98px) {
  .header__nav {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.header__list {
  display: flex;
}
@media screen and (max-width: 768.98px) {
  .header__list {
    flex-direction: column;
    text-align: center;
    gap: 19px;
  }
}
@media screen and (min-width: 769px) {
  .header__list {
    flex-wrap: wrap;
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}

.header__link {
  display: block;
  color: #fff;
  font-weight: 500;
}
.header__link:hover, .header__link:focus {
  color: #fd4d4d;
}

.header__button {
  padding: 10px 21px;
}

.header__menu {
  display: inline-flex;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 769px) {
  .header__menu {
    display: none;
  }
}

.header__menu-burger {
  fill: #fff;
}

.header__menu .header__menu-close {
  fill: #fd4d4d;
  display: none;
}

.header__menu.is-open .header__menu-close {
  display: block;
  fill: #fd4d4d;
}

.header__menu.is-open .header__menu-burger {
  display: none;
}

@media screen and (max-width: 768.98px) {
  .header__container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    display: none;
    padding: 20px;
  }
  .header__container.is-open {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 768.98px) {
  .header__container.scroll {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.button {
  display: inline-block;
  max-width: 90px;
  font-family: inherit;
  font-weight: 500;
  line-height: inherit;
  border: none;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  color: #606B74;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #fd4d4d;
  color: #606B74;
}

.hero {
  position: relative;
  min-height: 100vh;
  padding: 184px 0 196px 0;
}

.hero_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768.98px) {
  .hero_container {
    flex-direction: column;
    align-items: start;
  }
}

.hero_content {
  z-index: 1;
  flex: 0 0 54%;
}

.hero_text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.hero_title {
  color: #fff;
}

.hero_link {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: 500;
}
@media screen and (max-width: 768.98px) {
  .hero_link {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px) {
  .hero_link {
    margin-left: 115px;
  }
}

.hero_link::before {
  content: "";
  display: block;
  background: url(../images/Play.svg) 0 0 no-repeat;
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
}

.hero_bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 700px) {
  .materialen {
    position: relative;
  }
}
@media screen and (max-width: 699.98px) {
  .materialen {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 700px) {
  .materialen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 616px;
    height: 37px;
    background-color: #fff;
    transform: translate(0, -100%);
  }
}

@media screen and (min-width: 700px) {
  .materialen::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 36%;
    height: 130px;
    background-color: #222F33;
  }
}

@media screen and (min-width: 700px) {
  .materialen_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 700px) {
  .materialen_content {
    padding-top: 25px;
  }
}

.materialen_title {
  margin-bottom: 15px;
}

.materialen_text {
  color: #646D70;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  line-height: 1.85;
  margin-bottom: 13px;
}

.materialen_button {
  max-width: 100px;
  padding: 10px 15px;
  border: 1px solid #000;
}

.materialen_slider {
  position: relative;
  z-index: 3;
  max-width: 325px;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .materialen_slider {
    transform: translate(0, -20%);
    justify-self: end;
  }
}
@media screen and (max-width: 699.98px) {
  .materialen_slider {
    padding-top: 20px;
    margin: 0 auto;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  display: flex;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
}

.materialen_slider-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 5px 16px 5px;
}

.materialen_slider-pagination .swiper-pagination-bullet {
  flex: 0 0 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.materialen_slider-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.details {
  padding: 85px 0;
}
@media screen and (max-width: 699.98px) {
  .details {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.details_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 75px;
       column-gap: 75px;
}
@media screen and (max-width: 849.98px) {
  .details_container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 849.98px) {
  .details_img {
    width: 100%;
    margin-top: 37px;
  }
}

.details_content {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

@media screen and (min-width: 420px) {
  .details_block {
    max-width: 155px;
  }
}

.details_title {
  margin-bottom: 10px;
}

.details_text {
  line-height: 1.83;
  color: #646D70;
  opacity: 0.7;
}

.innovatie {
  padding-top: 72px;
  padding-bottom: 80px;
  background-color: #222F33;
}
@media screen and (max-width: 699.98px) {
  .innovatie {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.innovatie_title {
  color: #fff;
  margin-bottom: 10px;
}

.innovatie_wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
}

.innovatie_text {
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  opacity: 0.7;
}
@media screen and (min-width: 853px) {
  .innovatie_text {
    max-width: 380px;
  }
}

.footer {
  min-height: 92px;
  padding: 33px 0;
  background-color: #222F33;
  color: #fff;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768.98px) {
  .footer_container {
    flex-direction: column;
    gap: 20px;
  }
}

.footer_email {
  opacity: 0.6;
}

.footer_data-link:hover, .footer_data-link:focus,
.footer_email:hover,
.footer_email:focus {
  color: #fd4d4d;
}

.footer_data {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  opacity: 0.6;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1;
  background-color: #fff;
  color: #222F33;
}

ul,
ol,
li {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.title {
  font-family: "Merriweather";
  font-size: 30px;
}

.title_s {
  font-family: "Merriweather";
  font-size: 18px;
}

.title_dark {
  color: #222F33;
}/*# sourceMappingURL=main.css.map */